Vivado/* linguist-generated=true

*.html linguist-detectable=false
*.vhdl linguist-detectable=false
*.vhd linguist-detectable=false
*.vho linguist-detectable=false

Vivado/*.html linguist-generated=true
Vivado/*.vhdl linguist-generated=true
Vivado/*.vhd linguist-generated=true
Vivado/*.vho linguist-generated=true
